<footer>
    <div class="innerwidth">
        <div class="copyright">
            &copy; 2020 | Created and Designed by <a href="/#mentors">COLD_Team</a>
        </div>
        <div class="sm">
            <a href="#" target="_blank" class="fa fa-facebook-f"></a>
            <a href="#" target="_blank" class="fa fa-twitter"></a>
            <a href="#" target="_blank" class="fa fa-linkedin"></a>
            <a href="#" target="_blank" class="fa fa-instagram"></a>
        </div>
    </div>
</footer>
