<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%- include('partials/head') -%>
<!-- head -->
<body>

<!-- navbar -->
    <%- include('partials/navbar'); -%>
<!-- navbar -->

<!-- page content here -->

<section id="home-community">
    <div class="inner-width">
        <div class="content">
            <div class="sm">
                <h1>Our Community</h1>
            </div>
        </div>
    </div>
</section>

<section id="community">
  <div class="inner-width">
      <h1 align="center">JOIN THE COLD DEVELOPER COMMUNITY</h1>
      <h5 align="center">Join our Slack communities to meet other members of Cold, get to work on new projects,
      and talk to our Core Committee. You can also keep up with us on our social media channels.</h5>
  </div>
</section>

<section id="community" class="white">
  <div class="inner-width">
      <p align="left" style="font-size:40px; font-weight:bold;">SLACK</p>
      <p align="justify" style="font-size:20px;">
        Cold has a Slack community with sub-communities for various projects. It is open to the public and you can
        <a href="https://coldorg.slack.com/">sign up here.</a> If you're not familiar with Slack, please read <a href="https://get.slack.help/hc/en-us/categories/360000049043">"Getting Started" on
        Slack's usage guide </a>. Information on joining a specific channel is on <a href="https://get.slack.help/hc/en-us/articles/205239967-Join-a-channel">"Join a channel"</a>.

        Once you join, please introduce yourself on <code>#members</code> channel.

        <p align="left" style="font-size:25px; font-weight:bold;">SOME TIPS:</p>
        <ul style="font-size:20px;">
          <li>You will automatically join the <code>#general</code> and <code>#announcements</code> channels when you sign in to the Slack for the first time.</li>
          <li><code>#general </code> is for general purpose discussions relevant to Cold.</li>
          <li><code>#announcements </code> is for announcements from the Core Committee.</li>
          <li>If you're looking to talk to someone on the Core Committee, you're most likely to find us on Slack between 11:00 and 8:00 IST on weekdays.</li>
          <li>Find our general <a href="codeofconduct">Code of Conduct</a> here. The Code of Conduct applies to all digital spaces managed by our team, including GitHub, Slack, and any other spaces which the development community uses for communication. </li>
        </ul>
      </p>
  </div>
</section>

<!-- page content end -->

<!-- Footer -->
<%- include('partials/footer') -%>

<button class="goTop fa fa-arrow-up"></button>

</body>
</html>
