<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%- include('partials/head') -%>
<!-- head -->
<body>

<!-- navbar -->
    <%- include('partials/navbar'); -%>
<!-- navbar -->

<!-- page content here -->
<section id="home"></section>
<!-- page content end -->

<!-- Footer -->
<%- include('partials/footer') -%>

<button class="goTop fa fa-arrow-up"></button>
</body>
</html>
