<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%- include('partials/head') -%>
<!-- head -->
<body>

<!-- navbar -->
    <%- include('partials/navbar'); -%>
<!-- navbar -->

<!-- home -->
    <section id="home">
        <div class="inner-width">
            <div class="content">
                <div class="sm">
                    <h1>Co.L.D.-> </h1>
                    <a href="#" class="fa fa-facebook-f" style="font-size:30px"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:30px"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:30px"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:30px"></a>
                    <a href="#" class="fa fa-linkedin" style="font-size:30px"></a>
                </div>
                <div class="buttons">
                    <a href="https://github.com/CoLDorg/Cold-Wiki">Learning</a>
                    <a href="projects">Our Projects</a><br>
                    <a href="constitution">Our Constitution</a>
                </div>
            </div>
        </div>
    </section>
<!-- home -->

<section id="about">
    <div class="inner-width">
        <h1 class="section-title">About</h1>
        <div class="about-content">
            <img src="images/coldlogo.png" alt="" class="about-pic">
            <div class="about-text">
                <h1>Co.L.D. - The Computer Science Club of SE, JNU</h1>
                <h3>
                    <span>Develop</span>
                    <span>Design</span>
                    <span>Deliver</span>
                </h3>
                <p>Cold is the Computer Science Club of SE, JNU. We provide a platform
                for the students of our institute to come together and become a part of
                the coding community. We aim to provide them guidance and assitance to
                grow their skills. Cold provides a common ground for like-minded students,
                so as to educate them and conduct relevant activities by which their
                skills can be honed and tested, giving them a competitive edge and hands-on
                experience with regards to the relevant industry.</p>
            </div>
        </div>

        <h1 class="activity">Activity</h1>
        <div class="skills">
            <div class="skill">
                <div class="skill-info">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="skill-bar html"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>CSS</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar css"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>Java</span>
                    <span>70%</span>
                </div>
                <div class="skill-bar java"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>Python</span>
                    <span>60%</span>
                </div>
                <div class="skill-bar python"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>MySQL</span>
                    <span>90%</span>
                </div>
                <div class="skill-bar mysql"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>Competitive</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar cp"></div>
            </div>
        </div>
    </div>
</section>

<!-- services -->
<section id="services" class="dark">
    <div class="inner-width">
        <h1 class="section-title">Services</h1>
        <div class="services">
            <div class="service">
                <i class="icon fa fa-paint-brush"></i>
                <h4>Website Development</h4>
                <p>The club offers web development solutions as part of its
                services. The task is taken up by a team of members in the club
                who have adequate experience in the field.</p>
            </div>

            <div class="service">
                <i class="icon fa fa-database"></i>
                <h4>Server Management/Linux Admin</h4>
                <p>Select members of the club are proficient linux admins and
                are interested in doing this work. Reach them through us.</p>
            </div>

            <div class="service">
                <i class="icon fa fa-pencil"></i>
                <h4>Technical Content Writing/Documentation</h4>
                <p>If you have made a software/package and want someone to write
                the documentation for it, you can approach us. Want to have a
                technical section for your blog written by anonymous? Reach us.</p>
            </div>

            <div class="service">
                <i class="icon fa fa-gears"></i>
                <h4>Software Solutions</h4>
                <p>We can build specialised softwares/applications for your business.
                Android app, desktop software and such? Reach us and we'll try our best
                to help you out.</p>
            </div>

            <div class="service">
                <i class="icon fa fa-book"></i>
                <h4>Internship Training</h4>
                <p>The club trains interns for various internship programs. The trainers
                are experienced people from similar/same programs.</p>
            </div>

            <div class="service">
                <i class="icon fa fa-keyboard"></i>
                <h4>Edit Text</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>

<!-- core -->
<section id="mentors">
<div class="inner-width">
    <h1 class="section-title">Core Committee</h1>
    <div class="time-line">
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
        <div class="block">
            <!-- Image division -->
            <div class="block-image-container">
                <img src="#" />
            </div>
            <!-- Name, post and info division -->
            <div class="block-member-info">
                <h4>Pranav Rai</h4>
                <h3>Director of Technology</h3>
            </div>
            <!-- Social media division -->
            <div class="block-social-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook-square" style="color:#000000"></i></a>
                <a href="www.github.com"><i class="fa fa-github-square" style="color:#000000"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin-square" style="color:#000000"></i></a>
            </div>
        </div>
    </div>
</div>
</section>

<!-- works -->
<section id="works" class="dark">
<div class="inner-width">
    <h1 class="section-title">Works</h1>
    <div class="works">
        <a href="images/books.jpg" class="work">
            <img src="images/books.jpg" alt="">
            <div class="info">
                <h3>Cold Wiki</h3>
                <div class="cat">A collection of CS resources</div>
            </div>
        </a>

        <a href="images/laptop.jpg" class="work">
            <img src="images/laptop.jpg" alt="">
            <div class="info">
                <h3>SoE Hackathon</h3>
                <div class="cat">A Hackathon organising tool made by SE students
                for se</div>
            </div>
        </a>

        <a href="images/infosec.jpg" class="work">
            <img src="images/infosec.jpg" alt="">
            <div class="info">
                <h3>Cold-Infosec</h3>
                <div class="cat">A collection of infosec resources</div>
            </div>
        </a>

        <!-- <a href="images/4.jpg" class="work">
            <img src="images/4.jpg" alt="">
            <div class="info">
                <h3>Work Title</h3>
                <div class="cat">combined effort</div>
            </div>
        </a> -->

        <a href="camera/5.jpg" class="work">
            <img src="images/camera.jpg" alt="">
            <div class="info">
                <h3>Image Enhancer</h3>
                <div class="cat">A ML based Python tool to enhance images</div>
            </div>
        </a>

        <!-- <a href="images/6.jpg" class="work">
            <img src="images/6.jpg" alt="">
            <div class="info">
                <h3>Work Title</h3>
                <div class="cat">combined effort</div>
            </div>
        </a> -->
    </div>
</div>
</section>

<!-- Join Us -->
<section id="Join Us" class="grey">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-2">Join Us</h1>
                <h1 class="font-weight-light">
                Interested in Joining? Click on the button below.
                </h1>
                <a href="https://forms.gle/pCv9DEW4wE32NYzn7" button type="button" class="btn btn-dark btn-lg m-3 p-3">Join us</a>
            </div>
        </div>
    </div>
</section>

<!-- contact and Footer -->
<section id="contact">
    <div class="inner-width">
        <h1 class="section-title">Get in touch</h1>
        <div class="contact-info">
            <div class="item">
                <i class="fa fa-mobile-phone" style="font-size:70px"></i>
                +91 1111111111
            </div>


        <div class="item">
        <i class="fa fa-envelope" style="font-size:70px"></i>
        coldexecs@gmail.com
        </div>

        <div class="item">
        <i class="fa fa-map-marker" style="font-size:70px"></i>
        New Delhi, India
        </div>
      </div>

        <form action="#" class="contact-form">
        <input type="text" class="nameZone" placeholder="Your Full Name">
        <input type="email" class="emailZone" placeholder="Your Email">
        <input type="text" class="subjectZone" placeholder="Subject">
        <textarea class="messageZone" placeholder="Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
        </form>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer') -%>

<button class="goTop fa fa-arrow-up"></button>
</body>
</html>
